#app {
    display: grid;
    grid-template-rows: auto 1fr;
}

main{
    padding : 16px;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

.main-page-item{
    background-color: white;
    border-radius: 8px;
    padding : 16px;

    box-shadow: 4px 4px 10px var(--gray3);
}

.main-page-item:hover{
    animation-name: hoverAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.notice-today-wrap{
    display : grid;
    grid-template-rows: auto 1fr;
    grid-gap: 16px;
}

@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1100px) {
    main {
        width : 1100px;
        margin : 0 auto;
    }
}

@keyframes hoverAnimation {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-0.5deg);
    }
    100%{
        transform: rotateZ(0.5deg);
    }
}