@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

.font-bold {
    font-family: 'GmarketSansBold';
}

.font-medium {
    font-family: 'GmarketSansMedium';
}

.font-light {
    font-family: 'GmarketSansLight';
}