@font-face{
    font-family:"NotoSansM";
    src:url("../../font/NotoSansKR-Medium.otf")
}
@font-face{
    font-family:"NotoSansB";
    src:url("../../font/NotoSansKR-Bold.otf")
}

.font-bold {
    font-family: 'GmarketSansBold';
}

.font-medium {
    font-family: 'GmarketSansMedium';
}

.font-light {
    font-family: 'GmarketSansLight';
}