:root {
    --main-color1 : #3ebbf1;
    --main-color2 : #1fa2fe;
    --main-color3 : #2b63ef;
    --main-color4 : #4992ff;

    --sub-color1 : #d9f4ff;
    --sub-color2 : #bde4ff;
    --sub-color3 : #cfdcff;
    
    --main-btn-border-color : #3ebbf1;
    
    --gray0 : #f8f9fa;
    --gray1 : #f1f3f5;
    --gray2 : #e9ecef;
    --gray3 : #dee2e6;
    --gray4 : #ced4da;
    --gray5 : #adb5bd;
    --gray6 : #868e96;
    --gray7 : #495057;
    --gray8 : #343a40;
    --gray9 : #212529;

    --bg-black : #000000ab;

    --flat-purple : #6c63ff;
    --flat-blue : #536dfe;
    --flat-light-blue : #00b0ff;
    --flat-green : #1abc9c;
    --flat-yellow : #f1c40f;
    --flat-red : #e74c32;
    --flat-black : #121212;
}

body{
    background-color: #ecf0f3;
}
/* 제목 태그 테마 */
h1, h2, h3, h4, h5, h6, b {
    font-family: 'GmarketSansBold'
}

/* 입력 요소 테마 */
input {
    font-family: 'GmarketSansMedium';
    background-color: gainsboro;

    border : 2px solid gray;
    border-radius: 12px;
}

input:focus{
    outline: none !important;
    border-color: var(--main-btn-border-color);
}

/* 버튼 테마 */
button {
    font-family: 'GmarketSansMedium';

    color : white;
    background-color: var(--main-color1);

    /* border : 2px solid var(--main-btn-border-color); */
    border : 0px;
    border-radius: 12px;

    cursor: pointer;

    transition: 0.1s;
}

button:hover{
    background-color: var(--main-color2);
    transform: scale(1.01);
}

button:active{
    transform: scale(0.99);
}

.neu-morphism {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.neu-morphism-card {
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.page-content {
    width : 100%;
    max-width: 1100px;

    margin : 0 auto;
    margin-top : 70px;
    
    padding : 16px;
}