:root {
    --main-color1: #3ebbf1;
    --main-color2: #1fa2fe;
    --main-color3: #2b63ef;
    --main-color4: #4992ff;

    --sub-color1: #d9f4ff;
    --sub-color2: #bde4ff;
    --sub-color3: #cfdcff;

    --main-btn-border-color: #3ebbf1;

    --gray0: #f8f9fa;
    --gray1: #f1f3f5;
    --gray2: #e9ecef;
    --gray3: #dee2e6;
    --gray4: #ced4da;
    --gray5: #adb5bd;
    --gray6: #868e96;
    --gray7: #495057;
    --gray8: #343a40;
    --gray9: #212529;

    --bg-black: #000000ab;

    --flat-purple: #6c63ff;
    --flat-blue: #536dfe;
    --flat-light-blue: #00b0ff;
    --flat-green: #1abc9c;
    --flat-yellow: #f1c40f;
    --flat-red: #e74c32;
    --flat-black: #121212;
}

body {
    background-color: #ecf0f3;
}
/* 버튼 테마 */
input {
    background-color: gainsboro;

    border: 2px solid gray;
    border-radius: 12px;
}

input:focus {
    outline: none !important;
    border-color: var(--main-btn-border-color);
}

button {
    color:white;
    border:none;

    cursor: pointer;

    transition: 0.1s;
}
button:hover {
    transform: scale(1.01);
}
button:active {
    transform: scale(0.99);
}

.neu-morphism {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.neu-morphism-card {
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.page-content {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    margin-top: 4vh;
    padding: 16px;
}


.panel {
    height: 100%;
    margin-left: 240px;
    color: #3d3d3d;
}

.two_panel {
    background-color: #f5f6f7;
    border-radius: 8px;
}

/* 문자 초과시 ...으로 줄임 */
.text-truncated {
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/*  */
.none-dragging {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.scroll::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    margin-top: 2px;
    margin-left: 2px;
}
.scroll::-webkit-scrollbar-track {
    background-color: none;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
}

/* 학과별 컬러 설정 */
.security {
    background-color: #3d3d3d;
    color: white;
}
.security:hover {
    background-color: #4d4d4d;
}

.software {
    background-color: #ffcf49;
    color: white;
}
.software:hover {
    background-color: #ffbf49;
}

.ceo {
    background-color: #f5f7f5;
    color: #3d3d3d;
}
.ceo:hover {
    background-color: #eaeaea;
}

.design {
    background-color: #4992ff;
    color: white;
}
.design:hover {
    background-color: #4982ff;
}

.autonomous {
    background-color: #3d3d3d;
    color: white;
}
.autonomous:hover {
    background-color: #4d4d4d;
}

@media (max-width: 970px) {
    .panel {
        margin-left: 0;
    }
}
