.post-detail-content {
  min-height: 806px;

  padding: 36px;
}

.header {
  display: grid;

  grid-template-columns: 1fr auto;
  align-items: center;

  h2 {
    color: #3d3d3d;
    font-size: 20px;

    word-break: break-word;
  }
}

.data-wrap {
  display: flex;

  font-size: 14px;
  color: #b9b9b9;

  .heart-count {
    color: #ff4949;
    font-size: 14px;
    font-weight: 500;

    margin-right: 24px;
  }

  .writer {
    margin-right: 8px;
    cursor: pointer;
  }

  .date {
    margin-left: 8px;
  }
}

.board-content {
  width: 100%;

  min-height: 400px;

  margin-top: 40px;

  img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
  }

  p {
    width: 100%;

    color: #3d3d3d;
    font-size: 14px;
    font-weight: 500;

    margin-top: 24px;

    word-break: break-all;
  }
}

.button-wrap {
  margin-top: 43px;
}

button.heart {
  padding: 5px 15px;

  color: #ff4949;
  font-size: 14px;
  font-weight: 500;

  border: 1px solid #ff4949;
  border-radius: 4px;
  background-color: #fff;

  &.enable {
    color: #fff;
    background-color: #ff4949;
  }
}

.comment-wrap {
  margin-top: 17px;
}

.comment-body {
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
}

.comment-right {
  * {
    width: 100%;
  }

  textarea {
    padding: 10px 14px;

    border: 0px;
    border-radius: 8px;
    background-color: #f5f6f7;

    resize: none;

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: #b9b9b9;
    }
  }
}

.comment-list {
  margin-top: 20px;

  .submit {
    color: #fff;
    font-size: 14px;
    font-weight: 500;

    padding: 5px 34px;
    border: 1px solid #4893ff;
    border-radius: 4px;
    background-color: #4893ff;
  }
}

.comment-item {
  // 댓글 아이템
  padding: 6px 11px;
  margin-top: 2px;

  border-radius: 8px;

  .head {
    display: flex;
    align-items: center;

    img {
      width: 18px;
      height: 18px;

      border-radius: 100%;
      background-color: #fff;
    }

    .name, .date {
      margin-left: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #b9b9b9;
      cursor: pointer;
    }

    .content {
      font-size: 14px;
      font-weight: 500;
      color: #3d3d3d;

      margin: 5px 18px;
    }

  }

  &.my-comment {
    //내 댓글
    background-color: #ebf3ff;
  }
}